body{
    margin: 40px;
}

.header-box{
    height: 150px;
    box-shadow: 0 4px 10px rgba(177, 175, 175, 0.884);
    position: relative;
}

.header-box > h1{
    display: inline;
    box-align: center;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 200px;
    bottom: 1px;
}

.header > img{
    height: 80px;
    width: 80px;
}

.nav-list{
    /*background:  green;*/
    height: 40px;
    display: -ms-flexbox;
    padding: 10px 2px 10px 2px;
}

.nav-list > a {
    color:gray;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    margin-top: 12px;
    margin-left: 120px;
    margin-right: 120px; 
}

.dog-img{
    position: relative;

}
.dog-img img{
    height: 600px;
    width: 100%;
}

.on-img {
    background-color:whitesmoke;
    width: 99.88%;
    height: 30%;
    position: absolute;
    bottom: 5px;
    margin-left: 1px;
    align-content: space-around;
}

.on-img h3, p {
    margin-left: 20px;
    color: gray;
    font-size: 150%;
}

