body{
    margin: 40px;
}

.header-box{
    height: 150px;
    box-shadow: 0 4px 10px rgba(177, 175, 175, 0.884);
    position: relative;
}

.header-box > h1{
    display: inline;
    box-align: center;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 200px;
    bottom: 1px;
}

.header > img{
    height: 80px;
    width: 80px;
}

.nav-list{
    /*background:  green;*/
    height: 40px;
    display: -ms-flexbox;
    padding: 10px 2px 10px 2px;
}

.nav-list > a {
    color:gray;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    margin-top: 12px;
    margin-left: 120px;
    margin-right: 120px; 
}

.dog-img-box{
    position: relative;

}
.dog-img-box img{
    height: 600px;
    width: 100%;
}

.on-img {
    background-color:whitesmoke;
    width: 99.88%;
    height: 30%;
    position: absolute;
    bottom: 5px;
    margin-left: 1px;
    align-content: space-around;
}

.on-img h3, p {
    margin-left: 20px;
    color: gray;
    font-size: 150%;
}

.top-news{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    /*background-color: green;*/
    box-shadow: 0 1px rgba(221, 221, 221, 0.884);
    position: relative;
}

.top-news span {
    position: relative;
    bottom: 10px;
    font-size: 28px;
    color: gray;
    margin-right: 1060px;
    padding-bottom: 40px;
}

.top-news a {
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-decoration: none;
    font-size: 24px;
    margin-top: 20px;
    color:gray;
}

.news-content {
    box-shadow: 0 1px rgba(221, 221, 221, 0.884);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    color: gray;
}

.news-table {
    /*border: 2px solid gray;*/
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.news-table th{
    /*border: 2px solid gray;*/
    text-align: center;
    font-size: 24px;
    color: gray;
    padding-top: 10px;
    padding-bottom: 20px;
}

.news-table td{
    /*border: 2px solid gray;*/
    text-align: center;
    color: rgb(58, 56, 56);
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.place{
    font-size: 32px;
}
.weather-text{
    font-size: 24px;
}

.weather-img{
    position: relative;
}
.weather-img img{
    width: 300px;
}
.weather-img span{
    position:absolute;
    top: 60px;
    font-size: 42px;
}

.weather-week{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
}

.weather-week td{
    text-align: center;
    color: rgb(58, 56, 56);
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.weather-week img{
    width: 250px;
    height: 250px;
}

.latest-news-content{
    margin-bottom: 40px;
    position: relative;
}

.latest-news-content img{
    width: 250px;
    height: 180px;
}

.latest-news-content h2 {
    position: absolute;
    color: darkgray;
    display: inline;
    left: 280px;
}

.latest-news-content p {
    position: absolute;
    top: 40px;
    left: 260px;
    display: inline;
}

.foot-list{
    /*background:  green;*/
    height: 40px;
    width: 100%;
    border-top-color: black;
    display: -ms-flexbox;
    box-shadow: 2px 2px 10px 2px rgba(92, 91, 91, 0.884);
    padding: 10px 2px 10px 2px;
}

.foot-list > a {
    color:rgb(63, 62, 62);
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    margin-top: 12px;
    margin-left: 120px;
    margin-right: 120px; 
}